.itemDetailBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em;
    padding-top: 10%;
}

.itemDetailImg{
    height: 450px;
    width: 350px;
    padding-right: 3em;
}

.ItemDetailTextBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em;
}

.itemDetailTitle{
    color: var(--black-clr);
    margin-bottom: 1em;
}

.itemDetailPrice{
    color: var(--orange-clr);
    font-size: 1.2em;
    margin-bottom: 1em;
}

.ietmDetailDescription{
    color: var(--black-clr);
    margin-bottom: .5em;
    max-width: 350px;
}

.counterBox{
    margin-bottom: 1em;
    padding-bottom: 1em;
    padding-left: 4.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .itemCounter{
    gap: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
  
  .btnsAdd{
    font-size: 1.5em;
    border-radius: 30px;
    border: 2px solid var(--black-clr);
    background-color: var(--white-clr);
  }

