.navBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white-clr);
    box-shadow: var(--boxShadow);
    padding: .2em 0em;
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
  }
  
  .headerBrandName{
    font-size: 1.8em;
    font-weight: 600;
    color: var(--black-clr);
    cursor: pointer;
  }
  
  .headerBrandIcon{
    font-size: 1.2em;
    color: var(--orange-clr);
  }
  
  .menuItemList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .menuItem{
    margin: 2rem;
    color: var(--black-clr);
    cursor: pointer;
    font-weight: 500;
  }
  
  .menuItem:hover{
    color: var(--orange-clr);
  }
  
 /* ----------------------------------- MEDIA QUERY --------------------------------------- */

 @media (max-width: 600px){

  .navBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white-clr);
    box-shadow: var(--boxShadow);
    padding: .2em 0em;
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
  }

 }