.footerBox{
    background-color: var(--black-clr);
}

.socialBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1.5em;
}

.socialItem{
    padding: .6rem 2rem;
    border-radius: 5rem;
    border-top-left-radius: 0rem;
    cursor: pointer;
    background:none;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    width: fit-content;
    border: var(--border-white);
    color: var(--white-clr);
}

.socialItem:hover{
    background-color: var(--white-clr);
    color: var(--black-bck);
}

.custom-shape-divider-bottom-1662601485 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1662601485 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 104px;
}

.custom-shape-divider-bottom-1662601485 .shape-fill {
    fill: #130F40;
}


.brandFooter{
    margin-right: .5em;
    font-size: 1.3em;
}

 