.cartBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartProducts{
  margin-bottom: 3em;
}


.titleSection{
    margin: 8em 7em 3em;
    font-size: 1.5em;
    color: var(--black-clr);
  }
  
  .titleAccent{
    color: var(--orange-clr);
  }
  

  .cartProduct{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7.7%;
    margin-bottom: 2em;
  }

  .cartImg{
    width: 290px;
    height: 390px;
    border-radius: 5px;
  }

  .cartText{
    text-align: center;
    color: var(--black-clr);
    font-size: 1.2em;
    max-width: 200px;
  }

  .titleAccent{
    color: var(--orange-clr);
  }

  .cartDeleteBtn{
    font-size: 2em;
    color: red;
    cursor: pointer;
  }
  
  .cartDeleteBtn:hover{
    transform: scale(1.1);
  }

  .cartFinishBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    margin: 3em 11em 4em;
  }

  .cartDeleteAll{
    color: var(--black-clr);
    font-size: 1.5em;
    cursor: pointer;
  }

  .cartDeleteAll:hover{
    color: red;
  }

  .cartTotal{
    color: var(--black-clr);
    font-size: 1.5em;
    text-align: right;
  }

  .emptyCartBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 2em 8em;
  }

  .cartTextEmpty{
    margin: 2em;
    font-size: 1.5em;
    color: var(--black-clr);
  }

