.cartProductsBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartProducts{
  margin-bottom: 3em;
}


.titleSection{
    margin: 8em 4.9em 3em;
    font-size: 1.5em;
    color: var(--black-clr);
  }
  
  .titleAccent{
    color: var(--orange-clr);
  }
  

  .cartProduct{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4em;
    margin-bottom: 1em;
  }

  .cartImg{
    width: 130px;
    height: 170px;
    border-radius: 5px;
  }

  .cartText{
    text-align: center;
    color: var(--black-clr);
    font-size: 1em;
    max-width: 150px;
  }

  .titleAccent{
    color: var(--orange-clr);
  }

  .cartDeleteBtn{
    font-size: 2em;
    color: red;
    cursor: pointer;
  }
  
  .cartDeleteBtn:hover{
    transform: scale(1.1);
  }
  
  .emptyCartBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 2em 8em;
  }

  .cartTextEmpty{
    margin: 2em;
    font-size: 1.5em;
    color: var(--black-clr);
  }

  .cartFormFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;
  }

  .backBtn{
    color: var(--black-clr);
  }
